<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   
    <div id="webapp">
    <h1>Weather App</h1>
    </div>



    <form action="weather" class="form">
        <input type="text" id="texto" name="texto" placeholder="Escreva o seu local aqui!"/>
        <button type="submit" id="botao" value=""> Pesquisar</button>
          <button type="button" id="favoritos" value="" onclick="favs()"> Favoritos</button>
          <br>
        <select id="adicionarFavorito" name="local">
            <option value="">Choose a favorite</option>
          </select>
          
    </form>

  

 <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>

var meusFavs =[];
      var meusFavs_string = localStorage.getItem('favorito');
            
        if(meusFavs_string) {
          meusFavs = JSON.parse(meusFavs_string);
           
         }


if(meusFavs.length!=0){
  for(var j=0;j<meusFavs.length;j++){
    $('#adicionarFavorito').append(`<br><option>`+meusFavs[j]+`</option>`);
    
}
    
   
    </script>

</body>
</html>